export(
	fitModel,
	ellipse,
	makeeye,
	modelest,
	heatplot,
	calcBIC,
	simHM
)

exportPattern("^[\\.]")

exportClasses(
	version
)

exportMethods(
	show
)

import(
	methods,
	graphics
)

useDynLib(
	etanalysis,
	gauss,
	ssqgauss,
	outerprod,
	outerproddiagonal,
	fderiv,
	inner_sandwich
)
