export(
	fitModel,
	ellipse,
	makeeye,
	modelest,
	heatplot,
	calcFit,
	residDiag,
	residFull,
	swDiag,
	swFull,
	derivatives,
	wald,
	dStart,
	simHM
)

exportPattern("^[\\.]")

exportClasses(
	version
)

exportMethods(
	show
)

import(
	methods,
	graphics
)

useDynLib(
	etanalysis,
	gauss,
	ssqgauss,
	outerprod,
	outerproddiagonal,
	fderiv,
	fderiv2,
	inner_sandwich
)
