export(
	setExp,
	makeExpDirs,
	loadExp,
	getFSLdata,
	getFileInfo,
	readData,
	writeData,
	fmri2array,
	cropVolume,
	makeROImask,
	createRegs,
	setRegFiles,
	setRegParams,
	createFuncs,
	setFuncFiles,
	arf2Excel,
	arf2MNI,
	arf2high, 
	MNI2arf,
	MNI2atlas,
	euclidDist,
	makeLowResStruct,
	makeLowResStructAvg,
	getAtlasLabels,
	getModelAtlas,
	fitModelOptim,
	fitSimpleModelOptim,
	fitModel,
	pruneModel,
	fitConnectivity,
	roiConnectivity,
	makeSingleTrialEvents,
	differenceCor,
	processModel,
	processSeed,
	createAverages,
	createAllAverages,
	determineStartRect,
	determineStartRectSimple,
	regressAmplitudes,
	checkSolution,
	checkSolutionReturn,
	checkGradientReturn,
	validStart,
	setIsoContour,
	newModel,
	saveModel,
	saveModelBin,
	saveModelBinSimple,
	showModels,
	loadOptions,
	loadStart,
	loadRda,
	loadData,
	loadModel,
	loadFunc,
	saveFunc,
	setFuncTimings,
	readTimings,
	arfversion,
	clearWarnings,
	makeDiscreteImage,
	makeDerivs,
	makeResiduals,
	varcov,
	BIC,
	RMSEA,
	mcpCorrect,
	wald
)

exportPattern("^[\\.]")

exportClasses(
	version,
	settings,
	experiment,
	registration,
	functional,
	options,
	nifti.fileinfo,
	nifti.header,
	fmri.data,
	data,
	model,
	sequence,
	wald,
	mnames
)

exportMethods(
	show,
	plot,
	summary
)

import(
	methods,
	graphics,
	tcltk
)

useDynLib(
	arf3DS4,
	gauss,
	ssqgauss,
	ssqdata,
	dfssq,
	dfgauss,
	simplegauss,
	simplessqgauss,
	dfsimplegauss,
	dfsimplessq,
	innerSWfull,
	innerSWdiag,
	innerSWfast,
	innerSWbw,
	innerSWbwfast,
	approxHessian,
	dfgaussFile,
	simTS
)
