export(
	setExp,
	makeExpDirs,
	loadExp,
	getFSLdata,
	getFileInfo,
	readData,
	writeData,
	cropVolume,
	createRegs,
	setRegFiles,
	setRegParams,
	createFuncs,
	setFuncFiles,
	arf2MNI,
	MNI2arf,
	MNI2atlas,
	euclidDist,
	makeLowResStruct,
	makeLowResStructAvg,
	getAtlasLabels,
	getModelAtlas,
	fitModelNlm,
	fitModelOptim,
	fitSimpleModelNlm,
	fitSimpleModelOptim,
	fitModel,
	processModel,
	createAverages,
	createAllAverages,
	determineStartRect,
	determineStartRectSimple,
	newModel,
	saveModel,
	loadOptions,
	loadStart,
	loadReg,
	loadRda,
	loadData,
	loadModel,
	makeDiscreteImage,
	makeDerivs,
	makeResiduals,
	varcov,
	BIC,
	RMSEA,
	mcpCorrect,
	wald
)

exportClasses(
	version,
	settings,
	experiment,
	registration,
	functional,
	options,
	nifti.fileinfo,
	nifti.header,
	fmri.data,
	data,
	model,
	sequence,
	wald
)

import(
	methods,
	graphics
)

useDynLib(arf3DS4,gauss,ssqgauss,ssqdata,dfssq,dfgauss,simplegauss,simplessqgauss,simplegaussnew,simplessqgaussnew,dfsimplegauss,dfsimplessq,innerSW,innerSWdiag,approxHessian,dfgaussFile,dftheta0,dftheta1,dftheta2,dftheta3,dftheta4,dftheta5,dftheta6,dftheta7,dftheta8,dftheta9,simTS)
