export(
	runModel	
)

exportClasses(
	settings,
	nifti.fileinfo,
	nifti.header,
	fmri.data,
	data,
	model,
	sequence,
	analysis,
	wald,
	sims
)


useDynLib(arfS4lite,ssqgauss,fderiv,inner_sandwich,gauss,outerprod)
